* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  color: #666666; }

a {
  text-decoration: none;
  color: inherit; }

li {
  margin-left: 10px; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 10%; }

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #363636;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  width: 90%; }

.header-nav-element {
  display: block;
  padding: 10px 50px;
  text-align: center;
  -webkit-transition: 0.5s linear 0s;
  transition: 0.5s linear 0s;
  width: 25%; }
  .header-nav-element:hover {
    background-color: #666666; }

.main-info {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px; }

.categories {
  text-align: left;
  padding-left: 10px;
  width: 20%; }

.categories-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #363636;
  color: white;
  font-weight: bold;
  line-height: 40px; }

.down-icon {
  position: relative;
  top: 3px; }

.categories-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #989898;
  display: none; }

.submenu-list:hover > .categories-sublist {
  display: block;
  margin-left: -10px; }

.catalogue {
  text-align: center;
  padding: 0 10px;
  width: 35%; }

.catalogue-products {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 100%; }

.catalogue-product {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 10px;
  height: 175px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px; }

.featured-product {
  text-align: center;
  width: 70%; }

.featured-product-info {
  text-align: left; }

.featured-product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 95%; }

.featured-prodct-image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666666;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px; }

.featured-produc-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px; }

.form-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #363636;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.footer-lists {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%; }

.footer-lists h3 {
  margin: 0; }

.footer-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%; }

.footer-list {
  font-size: 0.85em;
  line-height: 40px;
  padding-left: 0; }

.button-send, .button-close {
  background-color: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #363636;
  color: white;
  padding: 10px;
  -webkit-transition: 0.5s linear 0s;
  transition: 0.5s linear 0s; }
  .button-send:hover, .button-close:hover {
    background-color: #666666; }

.button-close {
  font-weight: bold;
  height: 60px;
  width: 200px; }

.input {
  background-color: white;
  border: 1px solid #666666;
  border-radius: 5px;
  margin: 5px 0;
  padding-left: 5px;
  color: #666666;
  height: 35px;
  width: 300px; }

.send-modal {
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  width: 100%; }

.send-modal-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 200px;
  padding: 20px;
  width: 400px; }

/*# sourceMappingURL=style.css.map */